.pos-top {
  position: absolute;
  top: 0;
}

.pos-bottom {
  position: absolute;
  bottom: 0;
}


.pos-right {
  position: absolute;
  right: 0;
}

.pos-left {
  position: absolute;
  left: 0;
}


.pos-top-right {
  position: absolute;
  top: 0;
  right: 0;
}