:root {
  --contrast-background: #{$default-contrast-background};
  --contrast-box-shadow: #{$default-contrast-box-shadow};
  --divider: #{$default-divider};
  --highlight: #{$default-highlight};
  --highlight-100: rgba(var(--highlight), .2);
  --hover-overlay: $default-hover-overlay;
  --input-border: #{$default-input-border};
  --main-text: #{$default-main-text};
  --contrast-main-text: #{$black};
  --nav-bar-background: #{$default-nav-bar-background};
  --nav-bar-highlight-background: #{$default-nav-bar-highlight-background};
  --primary-icon: #{$default-primary-icon};
  --secondary-text: #{$default-secondary-text};
  --thirtary-text: #{$default-thirtary-text};
  --secondary-bar-background: #{$default-secondary-bar-background};
  --secondary-button-background: $default-secondary-button-background;
  --surface-background: #{$default-surface-background};
  --thirtary-background: #{$default-thirtary-background};
  --wash: #{$default-wash};
  --web-wash: #{$main-background-color};
  --bs-secondary-color: --secondary-text;
  --bs-modal-width: 750px;
}

// highlight theme colors
body[data-theme-color="app-theme-anchor"] {
  --highlight: #{$anchor};
  @each $color,
  $value in $anchors {
    --highlight-#{$color}: #{$value};
  }
}

body[data-theme-color="app-theme-maroon"] {
  --highlight: #{$maroon};
  @each $color,
  $value in $maroons {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$maroon};
}

body[data-theme-color="app-theme-carrot"] {
  --highlight: #{$carrot};
  @each $color,
  $value in $carrots {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$carrot};
}

body[data-theme-color="app-theme-lollipop"] {
  --highlight: #{$lollipop};
  @each $color,
  $value in $lollipops {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$lollipop};
}

body[data-theme-color="app-theme-gold"] {
  --highlight: #{$gold};
  @each $color,
  $value in $golds {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$gold};
}

body[data-theme-color="app-theme-forest"] {
  --highlight: #{$forest};
  @each $color,
  $value in $forests {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$forest};
}

body[data-theme-color="app-theme-hoki"] {
  --highlight: #{$hoki};
  @each $color,
  $value in $hokis {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$hoki};
}

body[data-theme-color="app-theme-purple"] {
  --highlight: #{$purple};
  @each $color,
  $value in $purples {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$purple};
}

body[data-theme-color="app-theme-indigo"] {
  --highlight: #{$indigo};
  @each $color,
  $value in $indigos {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$indigo};
}

body[data-theme-color="app-theme-charcoal"] {
  --highlight: #{$charcoal};
  @each $color,
  $value in $charcoals {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$charcoal};
}

body[data-theme-color="app-theme-cafe"] {
  --highlight: #{$cafe};
  @each $color,
  $value in $cafes {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$cafe};
}

body[data-theme-color="app-theme-facebook"] {
  --highlight: #{$facebook};
  @each $color,
  $value in $facebooks {
    --highlight-#{$color}: #{$value};
  }
  --nav-bar-highlight-background: #{$facebook};
}

body[data-theme-mode="dark-mode"] {
  --contrast-background: #{$dark-contrast-background};
  --contrast-box-shadow: #{$dark-contrast-box-shadow};
  --divider: #{$dark-divider};
  --hover-overlay: #{$dark-hover-overlay};
  --input-border: #{$dark-input-border};
  --main-text: #{$dark-main-text};
  --contrast-main-text: #{$white};
  --nav-bar-background: #{$dark-nav-bar-background};
  --nav-bar-highlight-background: #{$dark-nav-bar-highlight-background};
  --primary-icon: #{$dark-primary-icon};
  --secondary-text: #{$dark-secondary-text};
  --secondary-bar-background: #{$dark-secondary-bar-background};
  --secondary-button-background: #{$dark-secondary-button-background};
  --surface-background: #{$dark-surface-background};
  --thirtary-background: #{$dark-thirtary-background};
  --wash: #{$dark-wash};
  --web-wash: #{$dark-web-wash};
}